.bind-page{
  text-align:center;
}
.bind-body {
  padding: 3em;
  background-color: #fff;
  -webkit-box-shadow:0px 0px 4px 1px rgb(189, 189, 189);
  -moz-box-shadow:0px 0px 4px 1px rgb(189, 189, 189);
  -o-box-shadow:0px 0px 4px 1px rgb(189, 189, 189);
  -ms-box-shadow:0px 0px 4px 1px rgb(189, 189, 189);
  box-shadow:0px 0px 4px 1px rgb(189, 189, 189);
  width: 90%;
  margin: 100px auto;
}
.bind-page h3{
  margin-top:10px;
}
.bind-top  h4  a:hover{
  color: #353f49;
}
.bind-page input[type="text"], .bind-page input[type="password"] {
  font-size:16px;
  padding: 10px 16px;
  width: 50%;
  color: #999;
  outline: none;
  border: 1px solid #E2DCDC;
  background: #FFFFFF;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
  transition:.5s all;
  -webkit-appearance:none;
  float: left;
  margin-bottom: 10px;
  margin-left:10px;
}
.bind-page input[type="text"]:focus, .bind-page input[type="password"]:focus{
  border-color:#ff6540;
}
.bind-page .formlabel{
  width: 25%;
  height: 40px;
  text-align: right;
  float:left;
  margin-right: 10px;
  color: coral;
}
.bind-page input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background:#ff6540;
  width: 30%;
  padding: .8em 1em;
  font-size: 16px;
  margin: 0.5em 0 0;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
  transition:.5s all;
  text-transform: uppercase;
  -webkit-appearance:none;
}
.bind-page input[type="submit"]:hover {
  background: #c9302c;
  letter-spacing: 5px;
}
.bind-page .container{
  width:100%;
}
.bind-page .form-group{
  display:block;
}
.boxPicture{
  display: block;
  width: 414px;
  height: 320px;
  text-align:center;
  padding: 20px;
}
/* 性别单选框*/
.radioSex input{
  width:0;
  height:0;
  border: none;
  outline: none;
}
.radioSex input.error{
  border: none!important;}
@media screen and (-webkit-min-device-pixel-ratio:0){.Sex input,.dlvTime input{width:0;height:0;border: none;outline: none;visibility: hidden;} }
@-moz-document url-prefix() {.Sex input,.dlvTime input{width:0;height:0;border: none;outline: none;visibility: hidden;} }

.radioSex label{
  font-size: 14px;
  margin-right: 40px;
  cursor: pointer;
}
.radioSex label.Famale{
  margin-right: 0;}
.radioSex label i{
  margin-top: -2px;
  margin-right: 15px;
  display: inline-block;
  width: 46px;
  height: 47px;
  background: url(../Images/rcvsex.png) no-repeat;
  vertical-align: middle;
}
.radioSex label.Male i{
  background-position: -59px 0;}
.radioSex label.Male i.checked{
  background-position: 0 0;}
.radioSex label.Famale i{
  background-position: -180px 0;}
.radioSex label.Famale i.checked{
  background-position: -125px 0;}
